.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.container {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .students {

        width: 25%;
    }

    .charts {
        width: 45%;
        text-align: center;
        display: flex;
        flex-direction: column;

        .menus {
            height: 30%;
        }

        .tables {
            display: flex;
            flex-direction: row;
            height: 70%;

            .grades-chart {
                width: 50%;
            }

            .scores-chart {
                width: 50%;
            }

        }



    }

    .scores {

        width: 25%;
    }
}

.student-page1 {

    .student-chart {
        height: 100vh;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .students {

            width: 30%;
        }

        .form {
            text-align: center;
            width: 50%;
            padding: 1%;

            form {
                text-align: center;
            }
        }

    }


}

.student-page2 {


    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


    .menu {
        width: 30%;
    }



    .assessment-chart {
        width: 75%;
        height: 75%;
        margin-bottom: 5%;
    }




}


.menu {

    .menu-1 {

        margin-left: .5em;
        margin-right: .5em;
    }

    .menu-2 {

        margin-left: .5em;
        margin-right: .5em;
    }

}